@import 'bootstrap/scss/bootstrap';

// Cor Principal
$primary-color: #365e6d;

// Container Principal
.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

// Barra de Navegação
.navbar {
    background-color: #728e98;
    border-radius: 10px;

    .navbar-brand {
        margin-left: 10px;
        color: white;
        font-size: 20pt;
        font-weight: bold;
    }

    .navbar-collapse {
        align-items: center;
        justify-content: center;
    }

    .nav-link {
        font-size: 12pt;
        margin: 0 30px;
        color: white;

        &:hover {
            color: $primary-color;
        }
    }
}

// Sidebar
.sidebar {
    width: 300px;
    height: 85%;
    margin-top: 70px;
    background-color: #aec4bc;
    border-radius: 10px;
    position: fixed;
    padding: 20px;
}

// Conteúdo Principal
.main-content {
    padding-top: 5%;
    color: #333333;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 100%;
}

// Botões
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
}

// Conteúdo em Destaque
.fundo-branco-texto {
    background-color: rgba(240, 255, 255, 0.678);
    border-radius: 15px;
    padding: 15px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 2;
}

// Rodapé
footer {
    margin-top: auto;
    background-color: darken(#c2ced3, 5%);
    padding: 15px;
    text-align: center;
    color: $primary-color;
}
